body{
    background-color: #161616;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.textbox{
    background-color: #000000;
    border: none;
    color: white;
    font-size: 17px;
    padding: 15px;
    border-radius: 12px;
}
.btn{
    background-color: #0060df;
    border-radius: 12px;
    color: white;
    border: none;
    font-size: 17px;
    padding: 15px;
}

.btn-signup{
    background-color: #161616;
    border-radius: 12px;
    color: #0060df;
    border: none;
    font-size: 17px;
    padding: 15px;
}

/* checkbox */

.cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 9px;
    background-color: #000000;
  }
  
  .cont:hover input ~ .checkmark {
    background-color: #313131;
  }
  
  .cont input:checked ~ .checkmark {
    background-color: #0054c3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .cont input:checked ~ .checkmark:after {
    display: block;
  }
  
  .cont .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }